* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Love';
    src: url('../Aniversário/KINKEE__.TTF');
}

body {
    background-image: linear-gradient(#ffffff, #dadada);
    display: grid;
    height: 100vh;
}

.Verso {
    display: grid;
    position: fixed;
    grid-template-rows: 115px auto 35px;
    grid-template-columns: 350px;
    background-image: linear-gradient(#ffffff, #c0c0c0);
    width: 350px;
    height: 515.312px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(1px 1px 1px black);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
    z-index: 1;
}

.Cartãoprincipal {
    display: grid;
    position: relative;
    grid-template-rows: auto auto auto;
    background-image: linear-gradient(#ffffff, #c0c0c0);
    width: 350px;
    height: auto;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(1px 1px 1px black);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
    z-index: 2;
}

#Feliz {
    display: grid;
    font-family: 'Love';
    width: 100%;
    height: 100%;
    justify-items: center;
    padding-bottom: 20px;
    text-align: center;
}

#Titulo {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    text-align: center;
    font-size: 16px;
    height: 115px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    grid-row: 1;
}


#clique {
    display: grid;
    font-family: 'Love';
    width: 100%;
    height: 100%;
    justify-items: center;
    padding-bottom: 20px;
    text-align: center;
    color: #630000;
}

.abrir {
    animation: abrir 500ms;
    animation-fill-mode: forwards;
}

.fechar {
    animation: fechar 500ms;
    animation-fill-mode: forwards;
}

#bolo {
    display: grid;
    width: 200px;
    justify-self: center;
    align-self: center;
    grid-row: 2;

}

#bandeira {
    display: grid;
    width: 100%;
    grid-row: 1;
    padding-bottom: 20;
}

#mensagem {
    display: grid;
    grid-row: 2;
    text-align: center;
    grid-column: 1;
    font-size: 14px;
}

#assinado {
    display: grid;
    align-items: center;
    padding-left: 35px;
    grid-row: 3;
    grid-column: 1;
}


@keyframes abrir {
    0% {
        transform: none;
    }

    5% {
        right: 17.5px;
    }

    10% {
        right: 35px;
    }

    15% {
        right: 52.5px;
    }

    20% {
        right: 70px;
    }

    25% {
        right: 87.5px;
    }

    30% {
        right: 105px;
    }

    35% {
        right: 122.5px;
    }

    40% {
        right: 140px;
    }

    45% {
        right: 157.5px;
    }

    50% {
        right: 175px;
    }

    55% {
        right: 192.5px;
    }

    60% {
        right: 210px;
    }

    65% {
        right: 227.5px;
    }

    70% {
        right: 245px;
    }

    75% {
        right: 262.5px;
    }

    80% {
        right: 280px;
    }

    85% {
        right: 297.5px;
    }

    90% {
        right: 315px;
    }

    95% {
        right: 332.5px;
    }

    100% {
        right: 350px;
    }
}

@keyframes fechar {
    0% {
        right: 350px;
    }

    5% {
        right: 332.5px;
    }

    10% {
        right: 315px;
    }

    15% {
        right: 297.5px;
    }

    20% {
        right: 280px;
    }

    25% {
        right: 262.5px;
    }

    30% {
        right: 245px;
    }

    35% {
        right: 227.5px;
    }

    40% {
        right: 210px;
    }

    45% {
        right: 192.5px;
    }

    50% {
        right: 175px;
    }

    55% {
        right: 157.5px;
    }

    60% {
        right: 140px;
    }

    65% {
        right: 122.5px;
    }

    70% {
        right: 105px;
    }

    75% {
        right: 87.5px;
    }

    80% {
        right: 70px;
    }

    85% {
        right: 52.5px;
    }

    90% {
        right: 35px;
    }

    95% {
        right: 17.5px;
    }

    100% {
        right: 0;
    }
}
