#quadrado {
    height: 200px;
    width: 200px;
    background-color: red;
    animation-name: abrir;
    position: relative;
    animation-duration: 2s;
}

@keyframes abrir {
    0% {
        background-color: red;
        top: 0px;
        left: 0px;
    }

    25% {
        background-color: red;
        top: 0px;
        left: 200px;
    }

    50% {
        background-color: red;
        top: 0px;
        left: 400px;
    }

    75% {
        background-color: red;
        top: 0px;
        left: 600px;
    }

    100% {
        background-color: red;
        top: 0px;
        left: 800px;
    }
}