* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    background-color: black;
    background: url('../LulaErro.svg') no-repeat center fixed;
    background-size: cover;
    padding-top: 395px;
    padding-left: 125px;
}



p {
    position: absolute;
    color: white;

    font-weight: 550;
    font-family: arial;
}

a {

color: rgb(185, 0, 0);
}


