body {
    display: grid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    
    ;
    grid-template-rows: 1fr 14fr 1fr;
    background: linear-gradient(-270deg, #032e03, #5fc475 );
}

header {
    display: grid;
    grid-area: header;
    width: 100%;
    background-color: black;
}

#Cabecalho {
    display: grid;
    color: white;
    justify-items: center;
}

main {
    display: grid;
    grid-area: main;
    align-items: center;
    justify-content: center;
}

#quadro {
    display: grid;
    border: white solid 2px;
    width: 380px;
    height: 350px;
    border-radius: 20px;
    background-color: rgb(189, 189, 189, 0.7);
    align-content: center;
    justify-content: center;
}

.Email {
    display: grid;
    width: 320px;
    height: 50px;
    border: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}

.Senha {
    display: grid;
    width: 320px;
    height: 50px;
    border: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}

.Enviar {
    display: grid;
    width: 320px;
    height: 50px;
    border: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 28px;
    align-items: center;
    cursor: pointer;
    background-color: #032e03;
    color: white;
    letter-spacing: 2px;
}

footer {
    display: grid;
    width: 100%;
    background-color: gray;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}