body {
    display: grid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "header"
    "main"
    "footer"

;
    grid-template-rows: 1fr 14fr 1fr;
}

header {
    display: grid;
}

#Titulo {
    display: grid;
    justify-items: center;
}

#SUS {
    display: grid;
    justify-items: center;
    font-size: 100px;
    margin: 0;
}

select {
    display: grid;
}

main {
    display: grid;
    grid-area: main;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px
}

#Dialog {
    display: grid;
    justify-items: center;
}

#mensagem {
    display: grid;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

#button {
    display: grid;
    
}

#erro {
    border: none;
    background: none;
    cursor: pointer;
}

footer {
    display: grid;
    width: 100%;
    margin: 0;
    background-color: gray;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
