#Lista li {
    width: 100%;
}

#Lista li form {
    display: flex;
    column-gap: 1.25em;
    font-family: Roboto;
}

#Lista li form input {
    border: 1px solid black;
    padding-inline: 0.5rem;
    cursor: pointer;
    align-self: center;

    &:hover {
        background-color: #ef4444;
        color: white;
        transition-delay: 100ms;
        transition-duration: 180ms;
        animation: ease-in-out;
    }
}

#Lista li form h3 {
    font-size: 1.125rem;
    border-bottom: 1px solid black;
    flex-grow: 1;
    text-align: start;
}