* {
    padding: 0;
    margin: 0;
}

#wp-extension {
    display:none; 
}

@font-face {
    font-family: 'Love';
    src: url('fonts/KINKEE__.TTF');
}

body {
    background-color: linear-gradient(#ffffff, #dadada);
    display: grid;
    height: 100vh;
}

.Final {
    display: grid;
    position: fixed;
    grid-template-rows: 115px auto 35px;
    grid-template-columns: 350px;
    background-image: linear-gradient(#ffffff, #c0c0c0);
    width: 350px;
    height: 515.312px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(1px 1px 1px black);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
    z-index: 1;
}


.Verso {
    display: grid;
    position: fixed;
    grid-template-rows: 100px auto ;
    grid-template-columns: 350px;
    background-image: linear-gradient(#ffffff, #c0c0c0);
    width: 350px;
    height: 515.312px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(1px 1px 1px black);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
    z-index: 2;
}



.Cartãoprincipal {
    display: grid;
    position: relative;
    grid-template-rows: auto auto auto;
    background-image: linear-gradient(#ffffff, #c0c0c0);
    width: 350px;
    height: 515.312px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(1px 1px 1px black);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
    z-index: 3;
}

#Feliz {
    display: grid;
    font-family: 'Love';
    width: 100%;
    height: 100%;
    justify-items: center;
    padding-bottom: 20px;
    text-align: center;
}

#Titulo {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    text-align: center;
    font-size: 16px;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    grid-row: 1;
}


#clique {
    display: grid;
    font-family: 'Love';
    width: 100%;
    height: 100%;
    justify-items: center;
    padding-bottom: 20px;
    text-align: center;
    color: #630000;
}

.abrir {
    animation: abrir 1s;
    animation-fill-mode: forwards;
}

.fechar {
    animation: fechar 1s;
    animation-fill-mode: forwards;
}

.abrir2 {
    animation: abrir2 1s;
    animation-fill-mode: forwards;
}

.fechar2 {
    animation: fechar2 1s;
    animation-fill-mode: forwards;
}


#bolo {
    display: grid;
    width: 200px;
    justify-self: center;
    align-self: center;
    grid-row: 2;

}

#bandeira {
    display: grid;
    width: 100%;
    grid-row: 1;
    padding-bottom: 20;
}

#mensagem1 {
    display: block;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    max-width: 100%;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
}

#mensagem2 {
    display: block;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#assinado {
    display: grid;
    align-items: center;
    padding-left: 35px;
    grid-row: 3;
    grid-column: 1;
}


@keyframes abrir {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-352px);
    }
}

@keyframes fechar {
    from {
        transform: translateX(-352px);
    }
    to {
        transform: translateX(0);
    }
}

/*Funções 2*/

@keyframes abrir2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(352px);
    }
}

@keyframes fechar2 {
    from {
        transform: translateX(352px);
    }
    to {
        transform: translateX(0);
    }
}

/* Media Query */

@media (max-width: 1071px) {

    body {
        height: 100vh;
        background-color: white;
    }

    .Final {
        position: absolute;
    }
    
    .mensagemm {
        font-size: 14px;
    }

    .Verso {
        position: absolute;
    }
    
    .Cartãoprincipal {
        position: absolute;
    }
    
    @keyframes abrir {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-518px);
        }
    }
    
    @keyframes fechar {
        from {
            transform: translateY(-518px);
        }
        to {
            transform: translateY(0);
        }
    }
    
    /*Funções 2*/
    
    @keyframes abrir2 {
        from {
            transform: translateY(-518px);
        }
        to {
            transform: translateY(518px);
        }
    }
    
    @keyframes fechar2 {
        from {
            transform: translateY(518px);
        }
        to {
            transform: translateY(0);
        }
    }
}